.hn662 {
    background-image: url("../images/options/hn662.png");
}

.hn661 {
    background-image: url("../images/options/hn661.png");
}

.hn642 {
    background-image: url("../images/options/hn642.png");
}

.ht541 {
    background-image: url("../images/options/ht541.png");
}

.ht985 {
    background-image: url("../images/options/ht985.png");
    color: white;
}

.ht612 {
    background-image: url("../images/options/ht612.png");
    color: white;
}

.ht614 {
    background-image: url("../images/options/ht614.png");
    color: white;
}

.hn986 {
    background-image: url("../images/options/hn986.png");
}

.hn987 {
    background-image: url("../images/options/hn987.png");
}

.ht611 {
    background-image: url("../images/options/ht611.png");
}

.le301 {
    background-image: url("../images/options/le301.png");
}

.f_1 {
    background-image: url("../images/options/f_1.png");
}

.f_2 {
    background-image: url("../images/options/f_2.png");
}

.f_3 {
    background-image: url("../images/options/f_3.png");
}

.f_4 {
    background-image: url("../images/options/f_4.png");
}

.f_5 {
    background-image: url("../images/options/f_5.png");
}

.f_6 {
    background-image: url("../images/options/f_6.png");
    color: white;
}

.shelf-1 {
    /*background-image: url("../images/options/shelf-1.png");*/
    background-color: #dee0db;
}

.shelf-2 {
    /*background-image: url("../images/options/shelf-2.png");*/
    background-color: #393c39;
    color: white;
}

.shelf-3 {
    background-color: #9c9d99;
    /*background-image: url("../images/options/shelf-3.png");*/
}

.bath-1 {
    background-image: url("../images/options/bath-1.jpg");
}

.bath-2 {
    background-image: url("../images/options/bath-2.jpg");
}

.bath-3 {
    background-image: url("../images/options/bath-3.jpg");
}

.bath-4 {
    background-image: url("../images/options/bath-4.jpg");
    color: white;
}

.bath-5 {
    background-image: url("../images/options/bath-5.jpg");
}

.bath-6 {
    background-image: url("../images/options/bath-6.jpg");
}

.bath-7 {
    background-image: url("../images/options/bath-7.jpg");
}

.bath-8 {
    background-image: url("../images/options/bath-8.jpg");
    color: white;
}

.bath-9 {
    background-image: url("../images/options/bath-9.jpg");
}